body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('../HTML/images/pexels-ave-calvar-martinez-5038394.jpg');
    background-size: cover;
    background-position: center; 
}
.len{
    background-color: grey;
}
.containment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 95%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 80%;
    margin: 20px; 
}

.box {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;

    animation: fadeInDown 0.5s ease-in-out;
    
}

#desc, #desc0 {
    text-align: center;
    margin: 0 0 20px;
    font-weight: 850;
}

#desc {
    font-size: 50px;
}

#desc0 {
    font-size: 25px;
    
}

#optionfr {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

#conversion {
    width: 50px;
    border-radius: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
#conversion:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.form-select, .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.form-select {
    width: 50%;
}

.form-select:hover, .form-control:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    
    
}

#value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.form-control {
    width: 48%;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .box {
        width: 90%;
    }
    #desc {
        font-size: 22px;
    }
    
    #desc0 {
        font-size: 15px;
    }
    .form-select, .form-control {
        font-size: 15px;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}