
.navbar {
    color: white;
  overflow: hidden;
  background-color: #333;
  display: flex;
    justify-content:space-around;  
    /* justify-content: flex-end; */
}

.unit{
    display: flex;
    align-items: center; 
}
.navbar a {
   float: left; 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}


.navbar a:hover {
  background-color: #ddd;
  color: black;
}